
  .main{
    background-color: black;
    color: #FFF;
  }
  .header{
    display: flex;
    margin: 50px 0px 20px 30px;
  }
  .btnLogin{
    margin-left: 60px;
  }
  
  .backgroud{
    background-image: url('./imges/green.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
  .logo{
    width: 50%;
    margin: 30px;
  }
  .formInput{
    width: 20%;
    margin-right: 50px;
   
  }
  
  .hub{
    display: flex;
    margin: 0 50px;
  }
  .point{
    color: #87e8de;
  }
  h1{
    margin: 0px;
  }
  .ant-input-group-addon:last-child {
    background-color: black;
    color: #87e8de;
    border-radius: 5px;
  }
  .row{
    min-height: 670px;
  }
  
  @media screen and (max-width: 768px) and (min-width: 320px) {
    .row{
      min-height: 650px;
    }
    .formInput{
      width: 50%;
      margin-left: 60px;
     
    }
    .footer {
      background-color: #333;
      padding: 20px;
      width: 100%;
      /* height: 5px; */
    }
  }
  
  
  