
.main{
  background-color: black;
  color: #FFF;
}
.header{
  display: flex;
  margin: 100px 0px 20px 30px;
}
.btnLogin{
  margin-left: 50px;
  padding: 10px;
  /* width: 10%; */
  background-color: black;
  font-weight: 600;
  color: #1589FF;
  border: 2px solid #87e8de;
  
}
.backgroud{
  background-image: url('./imges/green.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.logo{
  width: 50%;
  margin: 30px;
}
.formInput{
  width: 20%;
  margin-left: 50px;
}

.hub{
  display: flex;
  margin: 0 50px;
}
.point{
  color: #87e8de;
}
h1{
  margin: 0px;
}
.ant-input{
  border-radius: 5px;
}
.ant-input-group-addon:last-child {
  background-color: black;
  color: #1589FF;
}
.footer {
  background-color: #333;
  padding: 10px 30px;
  color: #fff;
  
}
/* .row{
  height: 1000px;
} */

/* @media screen and (max-width: 768px) {
  .row{
    min-height: 650px;
  }
  .formInput{
    width: 50%;
    margin-left: 60px;
   
  }
  .footer {
    background-color: #333;
    padding: 20px;
    width: 100%;
    height: auto;
  }
  
}

@media screen and (max-width: 320px) {
  .row{
    min-height: 680px;
  }
  .formInput{
    width: 50%;
    margin-left: 60px;
   
  }
  .footer {
    background-color: #333;
    padding: 20px;
    width: 100%;
    height: auto;
  }
  
} */

